{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block content %}
    <h2>Product List</h2>
    <div class="product-list">
        <!-- Loop through and display products here -->
    </div>
{% endblock %}